
.logo {
  height: 20px;
  }

.nav {
  position: fixed;
  background-color: rgb(192,192,192);

}
  .centered {
    position: relative;
    left: 10%;
    margin-left: -173px  ;
  }

body {
  background-color: rgb(192,192,192);
}

h1{
  font-family: 'Nosifer', cursive;
}
.btn{
  font-family: 'League Script', cursive;
}
h3{
  font-family: 'Fredericka the Great', cursive;
}

