
.logo {
  height: 20px;
  }
.centered {
  position: relative;
  left: 50%;
  margin-left: -173px  ;
}

h1{
  font-family: 'Nosifer', cursive;
}
.btn{
  font-family: 'League Script', cursive;
}
h3{
  font-family: 'Fredericka the Great', cursive;
}

